@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
	--ff-default: "Kumbh Sans", sans-serif;
	--fw-default: 400;
	--fw-bold: 700;
	--fs-paragraph: 0.75rem;

	--clr-text-blue: hsl(238, 29%, 16%);
	--clr-text-red: hsl(14, 88%, 65%);

	--clr-bg-violet: hsl(273, 75%, 66%);
	--clr-bg-blue: hsl(240, 73%, 65%);

	--clr-neutral-300: hsl(237, 12%, 33%);
	--clr-neutral-200: hsl(240, 6%, 50%);

	--clr-divider: hsl(240, 5%, 91%);
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

body {
	font-family: var(--ff-default);
	background: linear-gradient(var(--clr-bg-violet), var(--clr-bg-blue));
	background-attachment: fixed;
	display: grid;
	place-items: center;
}
.card {
	width: 86.5%;
	position: relative;
	background-color: white;
	background-image: url(./images/bg-pattern-mobile.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 80%;
	border-radius: 1.5rem;
}
.card::before {
	content: "";
	background: url(./images/illustration-woman-online-mobile.svg) no-repeat;
	position: absolute;
	width: 268px;
	height: 180px;
	top: 0;
	left: 50%;
	transform: translate(-45%, -55%);
}
.card__accordion {
	padding: 9rem 0.5rem 3rem 1.5rem;
}
@media (min-width: 780px) {
	.card {
		width: 925px;
		height: 510px;
		display: flex;
		flex-direction: row-reverse;
		background: url(./images/illustration-woman-online-desktop.svg) bottom
				3.1rem left -5.1rem no-repeat,
			url(./images/bg-pattern-desktop.svg) bottom -10rem left -36rem no-repeat;
		background-color: white;
	}
	.card::before {
		content: "";
		background: url(./images/illustration-box-desktop.svg) no-repeat;
		width: 140px;
		height: 190px;
		position: absolute;
		top: 66%;
		left: -1.6%;
		transform: translate(-55%, -55%);
	}
	.card__accordion {
		width: 50%;
		padding: 4.5rem 5rem 3rem 1.5rem;
	}
}
.card__faq {
	padding: 0 0 1rem 0;
	text-align: center;
	font-size: 1.92rem;
}
@media (min-width: 780px) {
	.card__faq {
		text-align: start;
		font-size: 2.2rem;
	}
}
.card__li {
	list-style: none;
}
.card__li__name {
	cursor: pointer;
	font-weight: var(--fw-default);
	font-size: 0.85rem;
	color: var(--clr-neutral-300);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 0;
	width: 95%;
}
.card__li__name:hover {
	color: var(--clr-text-red);
}

.card__hr {
	border: none;
	border-top: 1px solid var(--clr-divider);
}

.card__li__text {
	display: none;
	font-size: var(--fs-paragraph);
	color: var(--clr-neutral-200);
	padding: 0 0 1rem 0;
}
.card__li__text--visible .card__li__name {
	font-weight: var(--fw-bold);
}
.card__li__text--visible .card__li__text {
	display: block;
}
.card__li__text--visible img {
	transform: rotateZ(180deg);
	transition: 0.3s;
}
